<!DOCTYPE html>
<html lang="en">

    <%- include('head')%>


<body>

    <%- include('header')%>


    <main>
        <h1>My List</h1>
        <div class="cardHolder">
            <% data.forEach((ele)=>{%> 
             <div class="card">
                 <h2> Title: <%=ele.title%></h2>
                 <h2> Company: <%=ele.company%></h2>
                 <h2> Location: <%=ele.location%></h2>
                 <h2> url: <a href="<%=ele.url%>"><%=ele.url%></a></h2>

                 <form action="/detail/<%=ele.id%>" method="GET">
                <input type="submit" value="View Detail">
                </form>
             </div>
             <%})%>
         </div>
    </main>
</body>

</html>